/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
oldGold
public/uploads/users_images/user4-128x128_2020-07-07.jpg
public/uploads/users_images/user3-128x128_2020-07-07.jpg
public/uploads/users_images/user2-160x160_2020-07-24.jpg
public/uploads/users_images/user1-128x128_2020-07-08.jpg
public/uploads/users_images/default-150x150_2020-07-07.png
public/uploads/users_images/avatar5_2020-07-07.png
public/uploads/users_images/avatar2_2020-07-20.png
